@page "/Workout"


@if(WorkoutInFocus.HasValue)
{
    <h3>Workout @WorkoutInFocus.Value.DayOfWeekName</h3>

    if (_meso.CurrentWeekIndex== _meso.TotalWeeks)
    {
        <p>Week {@_meso.CurrentWeekIndex} of {@_meso.TotalWeeks} (Final Week)</p>
    }
    else 
    {
        <p>Week {@_meso.CurrentWeekIndex} of {@_meso.TotalWeeks}</p>
    }


    <RadzenTree Style="height: 300px" Data=@_meso.Weeks Change="@OnChangeTreeNode" bind-Value="_treeNode">
        <RadzenTreeLevel TextProperty="WeekName" ChildrenProperty="Workouts"/>
        <RadzenTreeLevel TextProperty="DayOfWeekName"  />
    </RadzenTree>

    foreach (var set in WorkoutInFocus.Value.SetGroups.OrderBy(m=>m.Priority))
    {
        <SetGroupComponent SetGroup="@set" OnSavePressed="Save" OnSetAdded="AddSet" />
    }
}
else
{
    <p>Loading...</p>
}


<RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Click="@OnSave" />
<RadzenButton Text="Complete" ButtonStyle="ButtonStyle.Primary" Click="@OnComplete" />