@page "/Day"

        <div>
            <RadzenDatePicker DateFormat="MM/dd/yyyy" @bind-Value=@CurrentDate  Change="@(args => OnDateCHanged(args))"/>
        </div>
        
        
        @if (_day == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            @foreach (var meal in @_day.Meals)
            {
                <MealComponent2 OnMealMacrosChanged="OnMealMacrosChanged" @ref="ComponentRef" Meal="@meal" FoodList="@_foodList"></MealComponent2>
            }
        
        
        }
        @if (_day != null)
        {
            <span>Total Protein : @Double.Round(@_day.Protein,2)</span>
            <span>Total Carbs :  @Double.Round(@_day.Carbohydrate,2)</span>
            <span>Total Fat :  @Double.Round(@_day.Fat,2)</span>
            <span>Total Cals :  @Double.Round(@_day.Calories,2)</span>
        
            if (_dailyLimitsResult.HasValue)
            {
                <div>
                    <span>Remaining Protein : @Double.Round((_dailyLimitsResult.Value.Protein-@_day.Protein),2) / @_dailyLimitsResult.Value.Protein</span>
                    <span>Remaining Carbs : @Double.Round(_dailyLimitsResult.Value.Carbohydrate-@_day.Carbohydrate,2) / @_dailyLimitsResult.Value.Carbohydrate</span>
                    <span>Remaining Fat : @Double.Round(_dailyLimitsResult.Value.Fat-@_day.Fat,2) / @_dailyLimitsResult.Value.Fat</span>
                    <span>Remaining Cals : @Double.Round(_dailyLimitsResult.Value.Calories-@_day.Calories,2) / @_dailyLimitsResult.Value.Calories</span>
                </div>
        
            }
            else
            {
                <span>Daily Limits not set</span>
            }
        
        }
        
        <RadzenButton Click="@OnSave" Text="Save" ButtonStyle="ButtonStyle.Primary"/>
        <RadzenButton Click="@OnAddMeal" Text="Add Meal" ButtonStyle="ButtonStyle.Primary"/>
        
        
        @if (_noFoodIdSelectedOnOneOrMoreFoodItems)
        {
            <div>Please select a food before saving</div>
        }

