@using System.Xml
@if (SelectedFood.HasValue)
{
        <div>
            <RadzenDropDown @bind-Value=@FoodAmount.FoodId Data=@FoodList TextProperty="Name" ValueProperty="Id" Placeholder="Select Food" Style="width: 100%; max-width: 400px;"/>
            @SelectedFood.Value.Name :<RadzenNumeric @bind-Value=@FoodAmount.Quantity></RadzenNumeric> g
            <span>
                <strong>P</strong>@(SelectedFood.Value.ProteinAmount * FoodAmount.Quantity / 100)
            </span>
            <span>
                <strong>F</strong>@(SelectedFood.Value.FatAmount * FoodAmount.Quantity / 100)
            </span>
            <span>
                <strong>C</strong>@(SelectedFood.Value.CarbohydrateAmount * FoodAmount.Quantity / 100)
            </span>
            <RadzenButton Click="@RemoveFood" Text="Remove" ButtonStyle="ButtonStyle.Primary"/>
        </div>

}
else
{
    <div>
        N/A
    </div>
}