@using System.Xml
@if (SelectedFood.HasValue)
{
        <div>
            <RadzenDropDown  size="" @bind-Value=@SelectedFoodId Data=@FoodList TextProperty="Name" ValueProperty="Id" Change="@(o => OnChangeFood(o))"  FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" Placeholder="Select Food" Style="width: 100%; max-width: 400px;"/>
            <RadzenNumeric  Change=@OnChangeQuantity TValue="double"  @bind-Value=@FoodAmount.Quantity></RadzenNumeric> g
            <span>
                <strong>P</strong>@Double.Round(@FoodAmount.Protein,1)
            </span>
            <span>
                <strong>F</strong>@Double.Round(@FoodAmount.Fat,1)
            </span>
            <span>
                <strong>C</strong>@Double.Round(@FoodAmount.Carbohydrate,1)
            </span>
            <span>
                <strong>Cals</strong>@Double.Round(@FoodAmount.Calories,1)
            </span>
            <RadzenButton Click="@RemoveFood" Text="Remove" ButtonStyle="ButtonStyle.Primary"/>
        </div>

}
else
{
    <div>
        N/A
    </div>
}